@model IEnumerable<HotelManagementSystem.Models.Room>

@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accomodation.Accomodation1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType.RoomType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roomTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accomodation.Accomodation1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType.RoomType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
